.email {
    font-size: 3.73vw;
}

@font-face {
    font-family: 'flood';
    src: url(assets/font/Flood.ttf);
    font-stretch: condensed;
}

a {
    height: auto;
    font-family: Helvetica;
    color: #354463;
}

/* button {
    height: auto;
    font-family: Helvetica;
    color: #354463;
} */

/* button {
    line-height: 2;
    background-color: #C1F7D5;
    border-radius: 2em;
    border-style: none;  
} */

hr {
    display: none;
}

h3 {
    padding: 0%;
    margin: 0%;
}

#social-link,
#help,
span {
    list-style: none;
    font-size: 3.1vw;
}

#social-link>li,
#help>li,
#contact-us {
    font-size: 2.93vw;
}

header {
    padding: 6% 8% 10% 8%;
    display: grid;
    grid-row-gap: 10%;
}

#title-head {
    font-size: 4.8vw;
    grid-area: 1/1;
    line-height: 10.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu {
    width: 100%;
    /* font-size: 3.73vw; */
    line-height: 2;
    list-style: none;
    grid-column: 3/span 1;
    display: flex;
    flex-direction: column;
    /* justify-self: end; */
}

#menu>li {
    font-size: 3.73vw;
}

#donate {
    grid-area: 2/1/span 1/span 3;
    font-size: 4.8vw;
    font-weight: bold;
    color: #354463;
}

#social-link {
    grid-area: 2/1;
}

#help {
    grid-area: 2/2;
}

#contact-us {
    grid-area: 1/2;
}

#title {
    grid-area: 1/1/1/2;
}


/********************header-footer-end***********************/

/* SECTION-1 */
.section-1 {
    background-image: url(assets/home/annie-spratt-mobile.jpeg);
    /* height: 165vw;    height-fix kunal2604 */
    background-size: 380% auto;
    background-position-x: 50%;
    background-position-y: 100%;
    position: relative;
    padding: 10% 8%;
}

.flood-style {
    font-family: 'flood';
    font-size: 11.73vw;
    color: white;
    line-height: 1;
}


.section-1-container {

    background-color: white;
    position: relative;
    /* top: 20%; */
    bottom: -12%;
    height: 45%;
    padding: 2% 3% 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

#the-issue-text {
    font-size: 5.86vw;
    font-weight: bold;
}

#the-issue-read-more {
    font-size: 3.73vw;
}

.small-heading {
    font-size: 3.73vw;
    position: absolute;
}

#the-issue-header {
    background-color: #354463;
    color: white;
    padding: 4% 10%;
    top: -13%;
}



/**************** SECTION 2 STARTS *******************/

#section-2 {
    background-color: #C1F7D5;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5% 6% 2% 2%;
}

#take-action {
    background-color: #354463;
    color: white;
    text-align: center;
    padding: 3.5% 10%;
    top: -17%;
}


#actions {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0% 2% 4%;
    justify-content: space-between;
}

#actions h4 {
    /* font-size: 5vw; */
    margin: 0% 0% -7% 0%;
}

.regulation-action {
    width: 48%;
}

.regulation-action h4 {
    font-size: 4.8vw;
}

.regulation-action p {
    font-size: 3.73vw;
}

/*****************SECTION 3***************************/

#section-3 {
    background-color: #354463;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    height: auto;
    position: relative;
}

#section-3 > p {
    background-color: white;
    text-align: center;
    padding: 1% 5%;
    color: #354463;
    top:1%;
}

#section-3 > blockquote {
    width:95%;
    color: white;
    text-align: center;
    font-size: 5.86vw;
    padding: 10% 5%;
    margin:0%;
}

.mission {
    position:relative;
    background-color: white;
    display: flex;
    padding: 15% 10%;
    margin-top: 20%;
    flex-flow: column;
    line-height: 1.2;
    text-align: center;
}

.mission > img {
    width: 100%;
    margin-top: -30%;
}

.mission > h1 {
    margin-top: 10%;
    font-size: 4.8vw;
}

.mission > p {
    margin-top: 10%;
    font-size: 3.73vw;
}

#mission-button{
    position:absolute;
    left: 25%;
    bottom:5%;
}

.button-type1 {
    width: 50%;
    font-size: 4.26vw;
    font-weight: bold;
    line-height: 2;
    background-color: #C1F7D5;
    border-radius: 10vw;
    border-style: none;
}

/**********************SECTION 4 STARTS ***********/

#section-4 {
    background-image: url(assets/home/did-you-know-background-mobile.jpg);
    padding: 5% 10% 5% 10%;
    background-repeat: no-repeat;
    background-size: 550% auto;
    background-position-x: 46%;
}
.section-4-decorator{
    text-align: left;
    position: relative;
}
#section-4-button{
    position: absolute;

}

#section-4-heading{

}

#did-you-know-heading {
    background-color: #354463;
    color: white;
    padding: 4% 10%;
    top: -1%;
    left:20%;
}

#did-you-know-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 36%;
}

#did-you-know-article>p {
    background-color: #354463;
    color: white;
    padding: 5% 5%;
    position: absolute;
    top: 0%;
}

.did-you-know-divs {
    padding: 7% 7% 7% 7%;
    background-color: white;
    margin-top: 8%;
    display: grid;
    grid-column-gap: 10%;
    /* grid-row-gap: 20%; */
}

.did-you-know-divs > h2 {
    font-size:5.86vw;
    grid-area: 1/1/2/span 3;
}

.did-you-know-divs > p {
    grid-area: 2/1/3/span 3;
}
.did-you-know-content{
    font-size:3.73vw;
}

.facebook {
    background-color: #C1F7D5;
    grid-area: 1/4/2/6;
}

.twitter {
    background-color: #C1F7D5;
    grid-area: 2/4/3/6;
}

/***************************** STORIES **************************************/

#section-5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 12% 5%;
    position: relative;
}
#section-5-heading{
    background-color: #354463;
    color: white;
    padding: 4% 10%;
    top: -1%;
    left: 18%;
}

#section-5>img {
    /* width: 100%; */
}

.section-5-image{
    /* margin: 5%; */
}


.section-5-heading{
    background-color: white;
    color: #354463;
    padding: 4% 16%;
    top: -5%;
}

.user-story-div{
    background-color: #354463;
    color:white;
    padding: 5% 5% 5% 5%;
}

#user-stories-content {
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 5.86vw;
}
#user-stories-person {
    font-size:2.93vw;
    color:white;
    font-weight: lighter;
}

#user-stories-content>span {
    display: none;
}



#button,
.event>button {
    padding: 1% 15%;
    font-weight: bold;
}

/**************************Things to do*********************************/

#things-to-do {
    padding: 10%;
    background-color: #354463;
    text-align: center;
    color: white;
}

#things-to-do>p {
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 10% 2% 5% 2%;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    position: relative;
}

.event>img {
    width: 100%;
}

.event-space {
    font-size:5.86vw;
}
.event-space-description{
    font-size:3.73vw;   
}

/****SUBSCRIBE****/

#subscribe {
    background-color: #C1F7D5;
    display: grid;
    padding: 10% 8% 20% 8%;
    grid-row-gap: 20%;
    grid-column-gap: 5%;
}

#subscribe>p {
    grid-area: 1/1/2/3;
    font-size: 1.5em;
    font-weight: bold;
}

#subscribe>input {
    grid-area: 2/1/3/2;
    border: none;
    border-radius: 2em;
    text-align: center;
}

#subscribe>button {
    grid-area: 2/2/3/3;
    color: #C1F7D5;
    background-color: #354463;
    /* font-size: 1.2em; */
    font-weight: bold;
    padding: 3% 8%;
}

/* ------------------footer----------------*/
#foot {
    z-index: 2;
    padding: 8% 8% 10% 8%;
    display: grid;
    grid-row-gap: 15%;
    grid-column-gap: 30%;
}

#foot>aside {
    grid-area: 3/2;
    text-align: right;
    font-size: 7vw;
    font-family: 'flood std';
}










/*------------------------------------------------MOBILE ENDS-------------------------------*/









/***********************      TABLET MEDIA QUERY         ***************************/


@media screen and (min-width: 768px) and (max-width:1023px) {

    .eighteen-font-size {
        font-size: 2.86vw;
    }

    .fourteen-font-size,
    a {
        font-size: 1.82vw;
    }

    .sixteen-font-size {
        font-size: 2.08vw;
    }

    .email {
        font-size: 2.08vw;
    }

    #social-link,
    #help,
    span {
        list-style: none;
        font-size: 2vw;
    }

    #social-link>li,
    #help>li,
    #contact-us {
        font-size: 1.43vw;
        grid-area: 2/1/3/3;
        display: flex;
        flex-direction: row;
    }

    header {
        padding: 4% 3% 3% 6%;
        grid-column-gap: 0;
    }

    #title-head {
        /* font-size: 12.6vw; */

        grid-area: 1/1/2/3;
    }

    #title-head h3 {
        font-size: 2.86vw;
    }

    #menu {
        padding: 0% 0% 0% 0%;
        font-size: 1.82vw;
        grid-area: 2/1/3/3;
        display: flex;
        flex-direction: row;
        /* align-content: space-around; */
        justify-content: space-between;
    }

    #menu>li {
        font-size: 2.08vw;
        margin-right: 5%;
    }

    #donate {

        grid-area: 1/3;
        line-height: 0.1;
        font-size: 2.34vw;
    }

    #foot {
        grid-row-gap: 20%;
        grid-column-gap: 10%;
    }

    #contact-us {
        grid-area: 1/2/2/3;
    }

    #social-link {
        grid-area: 1/3/2/4;
    }

    #help {
        grid-area: 2/2/3/3;
    }

    #foot>aside {
        grid-area: 2/3;
        text-align: left;
    }


    /**************** SECTION 1 STARTS ******/

    .flood-style {
        font-size: 5.73vw;
    }

    .section-1 {
        /* height: 72vw;          height-fix kunal2604  */
        background-size: 174% auto;
        background-position-x: 15%;
        background-position-y: 100%;
    }

    .small-heading {
        position:absolute;
        font-size: 1.82vw;
    }

    #the-issue-header {
        padding: 2% 6%;
        left: 10%;
    }

    .section-1-container {
        top: 50%;
        height: 45%;
        padding: 1% 10% 8% 12%;
        text-align: left;
    }

    #section-1-heading {
        position: absolute;
        top: 2%;
    }

    #the-issue-text {
        font-size: 2.86vw;
        font-weight: bold;
    }

    #the-issue-read-more {
        font-size: 2.08vw;
        align-self: flex-start;
    }


    /***********************SECTION 2 STARTS**************/

    #take-action {
        padding: 2% 5%;
        top: -15%;
    }

    #actions {
        margin-top: 0%;
        padding: 2% 0% 0% 6%;
    }

    #actions h4 {
        margin: 5% 0% -7% 0%;
    }

    .regulation-action {
        width: 40%;
    }

    .regulation-action h4 {
        font-size: 2.86vw;
    }

    .regulation-action p {
        font-size: 2.08vw;
    }

    /***************************SECTION 3 STARTS*******************/

    #section-3 {
        align-items: flex-start;
    }

    #section-3 > p {
        background-color: white;
        color: #354463;
        line-height: 1.2;
    }

    .mission {
        background-color: white;
        display: grid;
        grid-column-gap: 3%;
        padding: 5% 5%;
        text-align: left;
    }

    .mission>img {
        grid-area: 1/1/2/2;
    }

    .mission>h1 {
        grid-area: 1/2/2/3;
        font-size: 2.86vw;
        margin-top: -5%;
    }

    .mission>p {
        font-size: 2.08vw;
        grid-area: 2/2/3/3;
        line-height: 1.5;
        margin-top: -5%;
    }

    .button-type1 {
        font-size: 2.34vw;
        grid-area: 2/1/3/2;
            width: 74%;
    height: 36%;
        position: relative; 
        top: 95%;
        font-weight: bold;
    }

    #section-3 > blockquote {
        margin:3% 0% 0% 0%;
        font-size: 4.69vw;
        text-align: left;
        padding: 0%;
    }

    /***********************************fourth-section**********************************/

    #section-4 {
        display: grid;
    }

    #section-4 > h1 {
        grid-area: 1/1/2/2;
    }

    #section-4>button {
        grid-area: 2/1/3/2;
    }

    .did-you-know-divs > h2 {
        font-size:4.69vw;
    }
    #did-you-know-article {
        grid-area: 1/2/3/3;

    }
    .did-you-know-content{
        font-size:2.08vw;
    }
    

    /* SECTION 5 STARTS*/
 
    #user-stories-content {
        text-align: left;
        font-size: 2.86vw;
    }
    #user-stories-content > span {
        font-size: 2.86vw;
        display: inline;
    }

    #user-stories-person {
        font-size:1.82vw;
    }

    .event-space {
        font-size:3.65vw;
    }
    .event-space-description{
        font-size:2.08vw;   
    }

    /****************************** Things to do   ****************************************************/
    .event{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .event-image{
        grid-column: 1;
    }
    .event-space{
        grid-column: 2;
    }

    .event-description {
        grid-column: 2;
    }

    .event-button1{
        grid-column: 2;
    }
    .section-5-heading{
        grid-column: 2;
    }

    .event-image2{
        grid-column: 2;

    }
    .event-space2{
        grid-column: 1;
        grid-row: 2;
    }

    .event-description2 {
        grid-column: 1;
       
    }

    .event-button2 {
        grid-column: 1;
      
    }
    .section-5-heading2{
        grid-column: 1;
    }


}

/*
...................................................................................
...................................................................................
...................................................................................
...................................................................................
*/





/*            *********************      DESKTOP MEDIA QUERY */
@media screen and (min-width: 1024px) {

    .eighteen-font-size {
        font-size: 2.15vw;
    }

    .fourteen-font-size,
    a {
        font-size: 1.36vw;
    }

    .sixteen-font-size {
        font-size: 1.56vw;
    }

    .email {
        font-size: 2vw;
    }

    hr {
        display: block;
        margin: 5% auto -10% auto;
    }

    #social-link,
    #help,
    span {
        list-style: none;
        font-size: 1.5vw;
    }

    #social-link>li,
    #help>li,
    #contact-us {
        font-size: 1.07vw;
    }

    a:link {
        text-decoration: none;
    }

    #title-head {
        grid-area: 1/1/2/2;
    }

    #title-head h3 {
        font-size: 2.15vw;
    }

    #menu {
        position: absolute;
        top: 100%;
        grid-area: 1/2/2/span 2;
        display: flex;
        flex-direction: row;
    }

    #menu>li {
        font-size: 1.56vw;
        margin-right: 10%;
        position: relative;
        top: 50%;
    }

    #donate {
        grid-area: 1/4/2/5;
        line-height: 0.1;
        font-size: 1.76vw;
        padding: 2% 2% 2% 2%;
    }

    #title {
        grid-area: 1/1/2/span 2;
    }

    #contact-us {
        grid-area: 1/3/2/4;
    }

    #social-link {
        grid-area: 1/4/2/5;
    }

    #help {
        grid-area: 1/5/2/7;
    }

    #foot>aside {
        grid-area: 1/7/2/span 2;
        text-align: right;
        font-size: 3.5vw;
    }

    #foot {
        grid-column-gap: 5%;
        grid-row-gap: 0;
    }


    /*  HEADER  */
    header {
        display: grid;
        position: relative;
    }

    /* SECTION 1 STARTS  ********************************************************/
    .section-1 {
        background-image: url(assets/home/annie-spratt-135307-unsplash@3x.png);
        height: 28vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .flood-style {
        font-size: 5.73vw;
    }

    .small-heading {
        font-size: 1.36vw;
    }

    #the-issue-header {
        padding: 3% 10%;
        left: 10%;
        top: -31%;
    }

    .section-1-container {
        top: 27%;
        width: 73%;
        padding: 5% 10%;
        text-align: left;
    }


    #section-1-heading {
        position: absolute;
        top: 31%;
        right: 20%;
        font-size: 4vw;
    }

    #the-issue-text {
        font-size: 2.15vw;
        font-weight: bold;
    }

    #the-issue-read-more {
        font-size: 1.56vw;
        align-self: flex-start;
    }

    /*SECTION 1 ENDS */

    /* SECTION 2 STARTS */

    #actions {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #take-action {
        background-color: #354463;
        color: white;
        text-align: center;
        padding: 2% 6%;
        top: -12%;
    }


    .regulation-action h4 {
        font-size: 2.73vw;
    }

    .regulation-action p {
        font-size: 1.56vw;
    }

    /**************** SECTION 2 ENDS *******************/

    /**************** SECTION-3   STARTS******************/

    #section-3 {
        padding: 8% 8%;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #section-3 > p {
        top:6%;
    }
    #section-3 > blockquote {
        /* background-color:red; */
        margin: 0%;
        text-align: left;
        font-size: 4.29vw;
        padding: 5% 0% 12% 0%;
    }

    .mission {
        width: 20%;
        display: flex;
        padding: 4%;
        margin-top: 0;
        flex-flow: column;
        line-height: 1.2;
        align-items: flex-start;
        text-align: left;
    }

    .mission>h1 {
        font-size: 2.73vw;
    }

    .mission>p {
        margin-top: 0;
        font-size: 1.56vw;
        line-height: 1.5;
        text-align: left;
        padding: 2%;
    }

    .mission>img {
        grid-area: 1/1/2/2;
        position: relative;
        margin-top: -50%;
        width: 23vw;
    }

    .button-type1 {
        font-size: 1.76vw;
        width: 80%;
    }
    /*section -3 ends*/

    /************* SECTION - 4 *************/ 
    .did-you-know-divs > h2 {
        font-size:4.29vw;
    }
    .did-you-know-content{
        font-size:1.95vw;
    }



    /************************ SECTION 5 STARTS ********************************/
    #user-stories-content {
        text-align: left;
        font-size: 2.73vw;
    }
    #user-stories-content > span {
        font-size: 2.73vw;
        display: inline;
    }
    #user-stories-person {
        font-size:1.36vw;
    }
    .event-space {
        font-size:4.29vw;
    }
    .event-space-description{
        font-size: 1.95vw;   
    }
}